*{
  margin: 0;
  padding: 0;
  user-select: none;
}
body{
  width: 100%;
  height: 100%;
}

#nadpis{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30px;
  font-size: 50px;
}

.konvoje img{
  position: relative;
  top: 0;
  max-width: 350px;
}

.konvoje{
  position: relative;
  top: 60px;
}

.obsah{
  text-align: center;
}

::selection{
  background-color: green;
  color: white;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: #11101b;
  color: white;
  width: 100%;
  height: 100px;
}

#footer a {
  color: red;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 100px 100px 100px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #11101b;
}

::selection {
  background-color: green;
  color: white;
}

@media screen and (max-width: 1200px) {
  #footerTitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  .konvoje img{
    width: 250px;
  }
  footer{
    width: auto;
  }
  #footerTitle {
    font-size: 15px;
  }
}