* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  body {
    width: 100%;
    height: 100%;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
  }
  .secondTitle {
    font-size: 20px;
    font-weight: bold;
  }
  
  #flexWrap {
    margin-top: 95vh;
    height: 100%;
    display: flex;
  }
  
  #firstWrap,
  #secondWrap {
    flex-basis: 50%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #firstWrap p,
  #secondWrap p {
    font-size: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #firstWrap .title,
  #secondWrap .title {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
  }
  
  #firstWrap .secondTitle,
  #secondWrap .secondTitle {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
  }
  
  #informations,
  #offers,
  #requirements,
  #achievements {
    height: 500px;
    font-size: 15px;
    background-color: #11101b;
    color: white;
    border-radius: 30px;
  }
  
  #informations,
  #requirements {
    margin-bottom: 30px;
  }
  footer {
    margin-top: 100px;
    background-color: #11101b;
    color: white;
    padding-top: 30px;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    place-items: center;
  }

  #footer a{
    color: red;
  }
  
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 100px 100px 100px white;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #11101b;
  }
  
  @media screen and (max-width: 576px) {
    #flexWrap {
        display: block;
        margin-top: 250px;
        max-width: 100%;
        width: 100%;
      }
  
    #informations,
    #offers,
    #achievements,
    #requirements {
      border-radius: 0px;
      height: auto;
      padding-bottom: 10px;
    }

    #firstWrap p,
    #secondWrap p {
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
    }
  

    ::-webkit-scrollbar {
      width: 0px;
    }
    #footerTitle {
      font-size: 20px;
      text-align: center;
    }
  }

  @media screen and (min-width: 576px) {
    @media screen and (max-width: 1200px) {
        #flexWrap {
            margin-top: 250px;
            display: block;
          }
        
          #informations,
          #offers,
          #achievements {
            margin-bottom: 50px;
          }
        
          #informations,
          #offers,
          #achievements,
          #requirements {
            height: auto;
            border-radius: 0px;
            padding-bottom: 10px;
          }

          #firstWrap p,
          #secondWrap p {
            font-size: 16px;
            padding-top: 15px;
            padding-left: 20px;
            padding-right: 20px;
          }

          ::-webkit-scrollbar {
            width: 0px;
          }
          #footerTitle {
            font-size: 22px;
            text-align: center;
          }
    }
    
}