*{
    margin-top: 0;
    padding: 0;
    }

.text{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 95vh;
    
    
}

.text ul{
    background: #85c1ee;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 20px;
}

.nabidka_nadpis{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    position: relative;
    top: 100vh;
}

.nabidka_konvoje{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 105vh;
}

.nabidka_kolektiv{
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    top: 110vh;
}

.nabidka_konvoje ul{
    background: #85c1ee;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 20px;
}

.nabidka_kolektiv ul{
    background: #85c1ee;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 20px;
}

.nabor_nadpis{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    position: relative;
    top: 115vh;
}

.nabor{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 120vh;
}

.nabor ul{
    background: #85c1ee;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 20px;
}

.úspěchy_nadpis{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    position: relative;
    top: 125vh;
}
.úspěchy{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 130vh;
    padding-bottom: 10px;
}

.úspěchy ul{
    background: #85c1ee;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 20px;
}

footer{
    margin-top: 130vh;
    background-color: #2d2e33;
    padding: 20px;
}

.footer-col{
    text-align: center;
    color: white;
  }

  p, a{
    color: white;
}

::selection{
    background-color: green;
    color: white;
}

@media screen and (max-width:1200px) {
    .konvoje{
        height: 300px;
      }

      .arrow{
        display: none;
      }

    .text{
        position: relative;
        top: 250px;
    }

    .nabidka_nadpis{
        position: relative;
        top: 280px;
    }

    .nabidka_konvoje{
        position: relative;
        top: 310px;
    }

    .nabidka_kolektiv{
        position: relative;
        top: 340px;
    }

    .nabor_nadpis{
        position: relative;
        top: 370px;
    }

    .nabor{
        position: relative;
        top: 400px;
    }
    .úspěchy_nadpis{
        position: relative;
        top: 430px;
    }
    .úspěchy{
        position: relative;
        top: 460px;
    }
    footer{
        margin-top: 460px;
    }
}

@media screen and (max-width:1000px) {
        .text{
        padding-left: 10px;
        padding-right: 10px;
    }

    .nabidka_nadpis{
        padding-left: 10px;
        padding-right: 10px;
    }

    .nabidka_konvoje{
        padding-left: 10px;
        padding-right: 10px;
    }

    .nabidka_kolektiv{
        padding-left: 10px;
        padding-right: 10px;
    }

    .nabor_nadpis{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .nabor{
        padding-left: 10px;
        padding-right: 10px;
    }
    .úspěchy{
        padding-left: 10px;
        padding-right: 10px;
    }
}
