* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

.nadpis {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 95vh;
  font-size: 50px;
}

.kontakty {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 0;
  padding-bottom: 50px;
  
}

.foto {
  border: solid black 2px;
}

.medvidek,
.lucian,
.eda,
.vasa,
.alan{
  text-align: center;
  width: 250px;
}

.lucian {
  font-weight: bold;
  position: relative;
  top: 100vh;
}

.medvidek {
  font-weight: bold;
  position: relative;
  top: 100vh;
}

.eda {
  font-weight: bold;
  position: relative;
  top: 100vh;
}

.vasa {
  font-weight: bold;
  position: relative;
  top: 100vh;
}

.alan {
  font-weight: bold;
  position: relative;
  top: 100vh;
}

.kontakty img {
  width: 150px;
}

footer {
  margin-top: 100vh;
  background-color: #11101b;
  color: white;
  padding-top: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  justify-content: center;
  place-items: center;
}

#footer a {
  color: red;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 100px 100px 100px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #11101b;
}
::selection {
  background-color: green;
  color: white;
}
.medvidek,
.lucian,
.eda,
.vasa,
.alan {
  padding-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .kontakty {
    flex-direction: column;
    z-index: -1;
  }

  .nadpis {
    position: relative;
    top: 250px;
  }

  .medvidek {
    position: relative;
    top: 280px;
    width: 150px;
  }

  .lucian {
    position: relative;
    top: 340px;
    width: 150px;
  }
  .eda {
    position: relative;
    top: 400px;
  }

  .vasa {
    position: relative;
    top: 460px;
  }
  .alan {
    position: relative;
    top: 520px;
    padding-bottom: 10px;
  }
  footer {
    margin-top: 520px;
  }
}
@media screen and (max-width: 576px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  #footerTitle {
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 576px) {
  @media screen and (max-width: 1200px) {
    ::-webkit-scrollbar {
      width: 0px;
    }
    #footerTitle {
      font-size: 22px;
      text-align: center;
    }
  }
}