* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
}
#main {
  margin-top: 95vh;
  display: flex;
}

#info1,
#info2,
#info3 {
  height: 550px;
  flex-basis: 30%;
  margin: 50px;
  font-size: 15px;
  background-color: #11101b;
  color: white;
  border-radius: 30px;
}

#info1 h1,
#info2 h1,
#info3 h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
}

#info1 p,
#info2 p,
#info3 p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

footer {
  margin-top: 100px;
  background-color: #11101b;
  color: white;
  padding-top: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  justify-content: center;
  place-items: center;
}
#footer a {
  color: red;
  background-color: unset;
}
.logo a:hover{
  background-color: unset;
}
.zona, .info, .rezervace{
  color: black;
  background-color: white;
  font-size: x-large;
  border-radius: 5px;
}

a:hover{
  transition: 0.2s;
  background-color: lime;
}


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 100px 100px 100px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #11101b;
}

@media screen and (max-width: 576px) {
  #main {
    display: block;
    margin-top: 250px;
  }
  #info1, #info2, #info3 {
    height: auto;
    border-radius: 5px;
    padding-bottom: 10px;

  }
  #info1 p,
  #info2 p,
  #info3 p {
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

  }
  #footerTitle {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  @media screen and (max-width: 1200px) {
    #main {
      display: block;
      margin-top: 250px;
    }
    #info1,
    #info2,
    #info3 {
      border-radius: 0px;
      
    }
    #info1 p,
    #info2 p,
    #info3 p {
      font-size: 16px;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }

    #info1,
    #info2,
    #info3 {
      height: auto;
      padding-bottom: 10px;
      border-radius: 0px;
    }
    #footerTitle {
      font-size: 22px;
      text-align: center;
    }
    ::-webkit-scrollbar {
      width: 0px;
    }
  }
}