* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 30px;
  font-weight: bold;
}
.secondTitle {
  font-size: 20px;
  font-weight: bold;
}

#wrap {
  margin-top: 95vh;
  height: 100%;
  display: flex;
}

#rules,
#rules2 {
  flex-basis: 50%;
  padding: 30px;
  margin: 30px;
}

#rules a,
#rules2 a {
  color: red;
  text-decoration: underline;
}

#rules p,
#rules2 p {
  font-size: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#rules .title,
#rules2 .title {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 5px;
}

#rules .secondTitle,
#rules2 .secondTitle {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
}

#rules,
#rules2 {
  height: auto;
  font-size: 16px;
  background-color: #11101b;
  color: white;
  border-radius: 30px;
}

footer {
  margin-top: 100px;
  background-color: #11101b;
  color: white;
  padding-top: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  justify-content: center;
  place-items: center;
}

#footer a{
  color: red;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 100px 100px 100px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #11101b;
}

@media screen and (max-width: 576px) {
  #wrap {
    display: block;
    margin-top: 250px;
  }
  #rules p,
  #rules2 p {
    font-size: 17.5px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #rules,
  #rules2 {
    padding-bottom: 10px;
  }

  #rules,
  #rules2 {
    border-radius: 0px;
  }


  ::-webkit-scrollbar {
    width: 0px;
  }
  #footerTitle {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  @media screen and (max-width: 1200px) {
    #wrap {
      display: block;
      margin-top: 250px;
    }
    #rules,
    #rules2 {
      border-radius: 0px;
      padding-bottom: 10px;
    }
    #rules p,
    #rules2 p {
      font-size: 16px;
      padding-top: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }

    #rules,
    #rules2 {
      margin-bottom: 10px;
      border-radius: 0px;
    }
    #footerTitle {
      font-size: 22px;
      text-align: center;
    }
    ::-webkit-scrollbar {
      width: 0px;
    }
  }
}